
.message-list{
    margin: auto;
    max-height: 100em;
    max-width: 100%;
    min-width: 100%;

}

.messagelist-body-list{
    max-height: 40vh;
    max-width: 100%;
    min-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}