.comment{
    max-width: 100%;
    
}

.user-content{
    max-width: 50%;
    text-align: right;
}

.partner-content{
    max-width: 50%;
}

.content{
    outline: 1px solid aliceblue;
    padding: 5px;
}

.user-comment{
    display: flex;
    justify-content: right;
    align-items: flex-start;
}

.partner-comment{
    display: flex;
    align-items: flex-start;
}

.ui.comments .comment > .avatar ~ .content {
    margin-left: 15px;
}

.user-text{
    text-align: left;
}