.messagelist-body-main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-list{
    margin: auto;
    max-height: 100em;
    max-width: 100%;
    min-width: 100%;

}

.messagelist-body-list{
    max-height: 50vh;
    max-width: 100%;
    min-width: 100%;
    overflow: scroll;
    overflow-x: hidden;
}